.App {
  font-family: "Times New Roman", Times, serif;
}

.base-container {
  margin-top: 2.5%;
}

.profile-photo-box {
  border: 1px solid gray;
  border-top: none;
  border-bottom: none;
  background-color: whitesmoke;
}

.profile-photo {
  width: 30%;
  margin: -15% 0 0 10%;
  border: 5px solid white;
}

.profile-info-box {
  border: 1px solid gray;
  border-top: none;
  background-color: whitesmoke;
  padding: 2% 0 0 10%;
}

.projeler-box {
  border: 1px solid gray;
  background-color: whitesmoke;
  margin: 0 0 0 5%;
  padding: 3.95%;
}

.hobiler-box {
  border: 1px solid gray;
  background-color: whitesmoke;
  margin: 5% 0 0 5%;
  padding: 3.95%;
}